{% extends "base.html" %}
{% block content %}
<h3 class="mb-3">Login</h3>
<form method="POST">
  <div class="mb-3">
    <label class="form-label">Email</label>
    <input class="form-control" type="email" name="email" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input class="form-control" type="password" name="password" required>
  </div>
  <button class="btn btn-primary">Login</button>
  <a class="btn btn-link" href="{{ url_for('register') }}">Create account</a>
</form>
{% endblock %}
